<br>
<br>
<br>
<br>
<h1 style="text-align:center; color: red;"> You are not authorized to view this page </h1>
<footer>
  <%= button_to "Back", root_path, :method => "get", class: "btn btn-outline-dark back-button" %>
</footer>

<style media="screen">

  .back-button {
    position: absolute;
    left: 15px;
    bottom: 15px;
  }

  body {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F8FF), to(#B0C4DE)) fixed;
  }
  </style>
